@charset "utf-8";

#app {
  font-family: "Roboto";
}

.header_container {
  header {
    height: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    padding: 5px;
  }
}
.dropzone_container {
  margin-top: 100px;
  p {
    font-size: 18px;
    font-weight: 700;
  }
  button {
    margin-top: 10px;
  }
}
.footer_container {
  footer {
    height: 10px;
    background: black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    clear: both;
    color: white;
    padding: 5px;
  }
}
.box_container {
  float: left;
  margin-right: 20px;
  width: 260px;
  height: 350px;
  padding: 15px 7px;
  border: 2px solid;
  border-radius: 25px;
  .top_line {
    width: 60px;
    padding: 1px;
    border: 2px solid;
    border-radius: 30px;
    margin: auto;
    margin-bottom: 40px;
  }
  .preview_wrap {
    overflow: hidden;
    border: 2px solid;
    padding: 5px;
    height: 310px;
    margin-top: -30px;
    font-size: 13px;
    .content {
      position: relative;
      top: 45%;
      font-size: 15px;
      text-align: center;
    }
  }
}
