@charset "utf-8";

.side_menu_container {
  padding: 10px;
  .menu_tree_management {
    width: 250px;
    float: left;
    border: 1px solid #bcbcbc;
    margin-top: 10px;
    .title {
      height: 20px;
      line-height: 20px;
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 700;
      padding: 10px;
      border-bottom: solid 1px black;
    }
    input[type="checkbox"] {
      display: none;
    }
    input[type="checkbox"] + label ~ * {
      display: none;
    }
    input[type="checkbox"]:checked + label ~ * {
      display: block;
    }
    input[type="checkbox"] + label {
      cursor: pointer;
      border-bottom: solid 1px black;
      &:hover {
        color: rgb(130, 126, 126);
      }
    }
    input[type="checkbox"]:checked + label {
      font-weight: bold;
    }
    .table_ctn {
      .menu_tree > ul {
        margin-top: -5px;

        li {
          margin-bottom: 10px;
        }
      }
      .menu_tree .sub_menu {
        margin-top: 15px;
        list-style-type: none;
        white-space: nowrap;
        li {
          position: relative;
          padding-right: 15px;
          margin-bottom: 8px;
          font-size: 14px;
          color: #666666;
          cursor: pointer;
          &:hover {
            color: rgb(130, 126, 126);
          }
          &:active {
            color: gold;
          }
        }
        li:before {
          content: "∟";
          margin-right: 5px;
        }
      }
    }
  }
}
