@charset "utf-8";

.login_container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 20px;
  .test {
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
  }
  .login_wrap {
    display: flex;
    margin: auto;
    padding: 60px;
    width: 580px;
    background-color: #eeeff1;
    border-radius: 5px;
    margin-top: 30px;
    span {
      font-size: 15px;
      border-radius: 50%;
      padding: 37px 20px;
      line-height: 30px;
      border: 1px solid #333;
      position: relative;
      background: #eeeff1;
      text-align: center;
      right: 12px;
      top: 18%;
    }
    input {
      display: block;
      margin: 10px 0;
      padding: 15px;
      width: 400px;
      height: 50px;
      border-radius: 20%;
      font-size: 20px;
      clear: both;
      text-align: center;
    }
    .text_box {
      position: relative;
      top: 20px;
      text-align: center;
      text-decoration: underline;
      .email_init {
        cursor: pointer;
        &:hover {
          font-weight: 600;
        }
      }
      .messenger_init {
        cursor: pointer;
        &:hover {
          font-weight: 600;
        }
      }
    }
    button {
      float: left;
      margin: 35px -20px;
      cursor: pointer;
      height: 220px;
      padding: 40px;
      margin-left: 30px;
      border-radius: 20%;
      background: rgb(231, 220, 220);
      font-size: 16px;
      font-weight: 700;
      &:hover {
        background: rgb(193, 183, 183);
      }
    }
  }
}
